body {
  margin: 0;
  background-color: #ffffff;
  padding: 50px 50px;
}

.ba-p-title:first-letter {
  font: 400 90px/23px 'Playfair Display', serif;
  padding: 1px 30px 11px 0;
  text-align: center;
  float: left;
  margin-bottom: 5px;
  margin-top: 23px;
  color: rgb(23, 23, 23);
}

.ba-container {
  background-color: #ffffff;
  box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.1);
  width: 1400px;
  height: 940px;
  display: inline-block;
}

.ba-h1 {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 400;
  color: #171717;
}

.ba-div {
  padding: 100px 130px;
  font-size: 18px;
  text-align: left;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;  
color: grey;
}

.ba-link {
  border: 2px solid #eaa258;
  padding: 7px 50px;
  color: #eaa258;
  text-decoration: none;
  font-weight: 700;
}

.ba-block {
  font-style: italic;
  padding: 20px 0;
}